/* =====================================================
                      organisms
========================================================*/
.container {
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1300px;
  padding: 70px 120px;
  justify-content: center;
  align-items: start;
  gap: 15px;
  min-height: max-content;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow-y: auto;
}
/* ===============================================
                  category
   =============================================== */
#category {
  display: flex;
  flex-direction: column;
  width: 340px;
  max-width: 340px;
  height: 700px;
  padding: 20px 20px 30px 20px;
  align-items: stretch;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}

#category[categoryname="todo"] {
  background-color: var(--todo--bg-color);
}
#category[categoryname="doing"] {
  background-color: var(--doing--bg-color);
}
#category[categoryname="done"] {
  background-color: var(--done--bg-color);
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }
}
